<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Sections Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" id="sidebarMenu">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/views/pageSectionsConfigurationIndex.html">Page Sections Configuration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/views/panelsConfigurationIndex.html">Panels Configuration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/views/sectionsConfigurationIndex.html">Sections Configuration</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main Content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <h1 class="mt-4">Page-Sections Configuration Management</h1>
                <div id="app">
                    <div id="configurationContextModulePlaceholder"></div>
                    <div>
                        <label for="pageSelector">Select Page:</label>
                        <input type="text" id="pageSelector" class="form-control" autocomplete="off" />
                        <div id="pageDropdown" class="dropdown"></div>
                    </div>
                    <div id="panelsContainer" class="mt-2">
                        <div id="panelus" class="border p-3">
                            <h3>Available Panels</h3>
                            <div id="availablePanels" class="droppable border p-3">
                                <!-- Panels will be dynamically loaded here -->
                            </div>
                        </div>
                        <div id="pagePanels" class=" border p-3">
                            <h3>Page Sections</h3>
                            <div id="droppablePanelsContainer" class="droppable">
                                <p id="dropPanelPlaceholder" class="placeholder-text text-muted">Drop panels here</p>
                                <!-- Panels for the selected page will be displayed here -->
                            </div>
                        </div>
                    </div>
                    <div id="sectionsContainer" class="border p-3">
                        <h3>Available Sections</h3>
                        <div id="availableSections" class="droppable border p-3">
                            <ul>
                                <!-- Sections will be dynamically added here -->
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script type="module" src="/javascripts/sections/pageSectionsConfiguration/pageSectionsConfiguration.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
